@model ChatWindowViewModel

@{
    ViewData["Title"] = "Chats";
    var currentUserId = Model.currentUser.ID.ToString();
    var pageSize = 10;
}


<div class="text-center">
    <div>
        <label> @Model.currentUser.LastName @Model.currentUser.FirstName</label>
    </div>
   <div>
       <button onclick="redirectToUsersList(1, @pageSize)">Users</button>
   </div>
    <div>
        <label>Contacts</label>
        @if(Model.contacts != null){
            @foreach (var contact in Model.contacts)
            {
                <div>
                    <button onclick="openPrivateChat( '@currentUserId', '@contact.ID' )">
                    
                        <img src="~/img/chat-user/usericon.jpg" width="5%" height="5%" />
                        @contact.LastName @contact.FirstName
           
                    </button>
                </div>
            }
        }
        <div id="selectChatMessage">Select a chat to start conversation.</div>
        <div id="chatBody">
            <div>
                <h3 id="currentInterlocutor">
                    current interlocutor
                </h3>
            </div>
            <div id="chatMessages">

            </div>

            <div id="chatInput">
                <input id="messageInput" placeholder="Write message here..."/> <button onclick="sendMessage()">Send</button>
            </div>
        </div>

    </div>
    <button onclick="logOut()">Log Out</button>
</div>
<script>
  function redirectToUsersList(pageNumber, pageSize) {
      window.location.href = `/users/all?pagenumber=${pageNumber}&pagesize=${pageSize}`;
  }
</script>
<script src="~/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/privatechat.js"></script>
<script src="~/js/accountservice.js"></script>